h2{
    font-weight: bold;
    font-style: inherit;
    padding-bottom: 5px;
    padding-top: 5px;
}
table{
    width: 100%;
    margin-top: 20px;
    border: 1px solid grey;
    padding: 10px;
    border-collapse: collapse;
}
th{
    padding: 10px;
    background-color: gray;
    color: white;
    text-align: left;
}
td{
    padding: 10px;
}
table tbody tr:nth-child(even){
    background-color: rgb(229, 232, 236);
}
.delete, .edit {
    text-decoration: none;
    color: black;
    display: block;
    width: 35px;
    padding: 2px 10px 2px 10px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    background-color:rgb(143, 137, 137);
    border-radius: 10px;
}
p{
    text-align: right;
    padding: 5px;
}
.addbtn{
    text-decoration: none;
    text-align: right;
    color: white;
    background-color:black;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
.form-group {
    margin-top: 30px;

}
.form-group label {
    margin-left: 30px;
    display: block;
}
.form-group input{
    margin-left: 30px;
    margin-top: 10px;
    font-size: medium;
}
.form-group input[type = "date"] {
    appearance: none;
    display: inline-block;
    visibility: visible;
    font-family: Arial,sans-serif;
    font-size: large;
    border: 1px solid #ccc;
    text-transform: uppercase;

}
button{
    color: white;
    background-color:black;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 40%;
    color: white;
    font-weight: bolder;
}
.back{
    color: white;
    background-color:black;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10%;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    
}
.alert{
    background-color: green;
    padding: 5px;
    border-radius: 3px;
    color: white;
}